
<div class="map-container-body">
  <div class="map-container">
    <div style="height: 100%; width: 100%;" class="map-frame">
      <div id="map" leaflet style="height: 100%;"
      ></div>
    </div>
    </div>


    <!-- Kahden pisteen etäisyys -->
<!----    <div class="distance">
      <p>{{distance}} metriä</p></div>
  </div>
-->



<!--


  Vaihtoehtoiskartan HTML

<div class="map-container-body">
  <div class="map-container">
    <div style="height: 100%; width: 100%;" class="map-frame"leaflet 
    [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
        
      ></div>
    </div>
    </div>




-->