<h1 class="headline">Hei naapuri!</h1>
<div class="gridlist-container">
  <div class="gridlist">
    <mat-form-field>
      <mat-label>Etunimi</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sukunimi</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="griditem-full">
      <mat-label>Katuosoite</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Postinumero</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kaupunki</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Puhelinnumero</mat-label>
      <input matInput type="tel" />
    </mat-form-field>
    <mat-checkbox required name="tos" class="checkbox"><small>Hyväksyn NeighborGood <a
          href="">käyttöehdot</a></small></mat-checkbox>
    <div class="griditem-full gridlist">
      <button class="button" mat-raised-button type="button">Peru</button>
      <button class="button" mat-raised-button type="submit" color="primary">
        Tallenna profiili
      </button>
    </div>
  </div>
</div>