<h1 class="headline">Varausvahvistus</h1>
<div class="container">
  <div class="row">
    <div class="info">
      <p><b>Kiitos varauksesta!</b> Ohessa tavaran lainaajan yhteystiedot.<br>
        Olethan pian yhteydessä tavaran lainaajaan henkilökohtaisesti joko sähköpostilla tai puhelimitse
        sopiaksesi noudon.</p>
      <br>
      <table class="contact-info">
        <tr>
          <th>Tavaran nimi:</th>
          <td>Tavaran nimi</td>
        </tr>
        <tr>
          <th>Tavaran laina-aika:</th>
          <td>Tähän laina-aika</td>
        </tr>
        <br>
        <tr>
          <th>Nimi:</th>
          <td>Etunimi Sukunimi</td>
        </tr>
        <tr>
          <th>Osoite:</th>
          <td>Katuosoite</td>
        </tr>
        <tr>
          <th>Paikkakunta:</th>
          <td>Postinumero Paikkaunta</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>malli@malli.fi</td>
        </tr>
        <tr>
          <th>Puhelinnumero:</th>
          <td>123 456 7890</td>
        </tr>
      </table>
      <br>
      <button mat-raised-button color="primary">Katso omat varaukset</button>
    </div>
  </div>
</div>